<p>employee works!</p>
<h1>Employee data</h1>

<div class="employee">
<label>Employee Name</label>
<input type="text" [(ngModel)]="name"><br>
<label>Employee Experience</label>
<input type="text" [(ngModel)]="experience"><br>
<label>Employee Package</label>
<input type="text" [(ngModel)]="package"><br>
<label>Employee Role</label>
<input type="text" [(ngModel)]="empRole"><br>
   <button (click)="creat()">Creat Employee</button>
   </div>
   
<input type="text" placeholder="enter the value to search" [(ngModel)]="term" (keyup)="search()">
<button (click)="map()">Add hike 30k</button>

<button (click)="sort()">Packege Low to Heigh</button>

<select [(ngModel)]="role" (change)="filter()">
<option>UIDeveloper</option>
<option>Software Developer</option>
<option>Data engineer</option>
<option>Testing Engineer</option>
</select>

<button (click)="reduce()">Cost to Company</button><br>

<table border="5" [cellPadding]="10" [cellSpacing]="0">
    <thead class="thed">
        <tr>
            <th>S:no</th>
            <th>Name</th>
            <th>Exeprience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tbdy">
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td> <button (click)="delete(i)">Delete</button></td>
        </tr>
    </tbody>
</table>

