<p>create-vehicle works!</p>
<h1 *ngIf="!id">Creat Vehicle</h1>
<h1 *ngIf="id">Update vehicle</h1>
<h1>{{id?'Vehicle vehicle':'Creat vehicle'}}</h1>
<form [formGroup]="vehicleForm">
    <label>Vehicle Name</label>
   <input type="text" formControlName="Vehicle"><br>
   <label>Color</label>
   <input type="text" formControlName="color"><br> 
   <label>Cost</label>
   <input type="number" formControlName="cost"><br> 
   <label>Fuel</label>
   <input type="text" formControlName="fuel"><br> 
   <button (click)="create()" class="btn btn-info">Create Vehicle</button>
   <!-- image,manufacturer,model,type,tyres -->
</form>
