<p>creat-student works!</p>
<form [formGroup]="studentForm">
    <label>Name:</label>
    <input type="text" formControlName="name"><br>
    <label>Class:</label>
    <input type="number" formControlName="class"><br>
    <label>Father Name:</label>
    <input type="text" formControlName="fatherName"><br>
    <label>Email:</label>
    <input type="text" formControlName="email"><br>
    <label>Date of Birth:</label>
    <input type="date" formControlName="dob"><br>
    <div formGroupName="address">
        <h3>Address</h3>
    <label>Address:</label>
    <input type="text" formControlName="city"><br>
    <label>State:</label>
    <input type="text" formControlName="state"><br>
    <label>Pincode:</label>
    <input type="number" formControlName="pincode"><br>
</div>


    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar">
<label>Day Scholer:</label>
<input type="radio" name="type" formControlName="type" value="residential">
<label>Residential:</label>
 
<div *ngIf="studentForm.get('type')?.value=='dayScholar'">
    <label>Bus Fee:</label>
    <input type="number" formControlName="busFee"><br>
</div>
<div *ngIf="studentForm.get('type')?.value=='residential'">
    <label>Hostel Fee:</label>
    <input type="number" formControlName="hostelFee"><br>
</div><br>
<label>Markss:</label>
<button (click)="addmarks()" class="btn btn-warning">Add marks</button><br><br>

<div formArrayName="markss">
    
    <div *ngFor="let marks of markssFormArray.controls;let i=index">
        <div formGroupName="{{i}}">
            <h2>marks{{i+1}}</h2>
            <label>Class:</label>
            <input type="number" formControlName="number"><br>
            <label>Year:</label>
            <input type="year" formControlName="year"><br>
            <label>Percentage:</label>
            <input type="number" formControlName="persentage"><br>
            <button (click)="deletemarks(i)" class="btn btn-danger">Remove marks</button>
        </div></div>
    </div>
<button (click)="submit()">Submit</button>
</form>
